.task-options {
    text-align: right;
    color: grey;
}

.add-task-button {
    margin-top: 5px;
}

.task-item {
    margin-left: 10px;
}

.task-item-checkbox {
    margin-left: 15px;
    margin-bottom: 5px;
}