<mat-accordion>

    <mat-expansion-panel *ngFor="let task of tasks">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-checkbox appStopEventPropagation (click)="processSubtasks(task.id)">{{task.title}}</mat-checkbox>
        </mat-panel-title>
      </mat-expansion-panel-header>

    <mat-panel-description>
      edit // toggle edit mode (add subtasks, edit all titles)
    </mat-panel-description>


    <div *ngFor="let item of task.items">
      <mat-checkbox>{{item.title}}</mat-checkbox>
    </div>

  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        + new task
      </mat-panel-title>
    </mat-expansion-panel-header>

  </mat-expansion-panel>

</mat-accordion>