<mat-toolbar color="primary" class="toolbar">
  <span>Subtasks</span>
</mat-toolbar>


<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z3" mode="side" [opened]='checked && !isScreenSmall()' [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-list>
      <mat-list-item *ngFor="let item of items">{{item}}</mat-list-item>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-checkbox checked='checked' (click)='toggle_sidenav()'>Side Menu {{ sidenavStatus }}</mat-checkbox>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>