<mat-toolbar color="primary" class="toolbar">
  <span>Contact Manager</span>
</mat-toolbar>


<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav mode="side" [opened]='checked && !isScreenSmall()'
  [mode]="isScreenSmall() ? 'over' : 'side'">
      <mat-list>
          <mat-list-item>Item 1</mat-list-item>
          <mat-list-item>Item 2</mat-list-item>
          <mat-list-item>Item 3</mat-list-item>
        </mat-list>
  
  </mat-sidenav>
  <mat-sidenav-content>

      <mat-checkbox checked='checked' (click)='toggle_sidenav()'>Side Menu {{ sidenavStatus }}</mat-checkbox>
      <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>



